.App {
  font-family: sans-serif;
  text-align: center;
}
label {
  display: block;
}

.button-green {
  background-color: green;
  color: white;
}

.button-red {
  background-color: red;
  color: white;
}
.section-2 {
  border: 1px solid black;
  margin-top: 15px;
}
